{
  "presets": [
    "@babel/preset-env",
    ["@babel/preset-react", { "runtime": "automatic" }],
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@/components": "./src/components",
          "@/pages": "./src/pages",
          "@/domain": ["./src/domain"],
          "@/adapters": ["./src/adapters"],
          "@/infra": ["./src/infra"]
        }
      }
    ]
  ]
}
