.podcast-item {
  list-style: none;
  display: flex;
  align-items: flex-start;
  border-radius: 8px;
  line-height: 1;
  gap: $spacing-2;

  &:hover h2 {
    transition: color 0.2s ease-in-out;
    color: #4bc5cf;
  }

  div {
    display: flex;
    flex-direction: column;
    gap: $spacing-1;
  }

  img {
    border-radius: 8px;
    max-width: 100px;
    max-height: 100px;
  }
}
