body {
  font-family: $base-font-family;
  color: $font-color;
  font-size: $base-font-size;
  font-weight: 200;
  padding-top: 50px;
}

.container {
  padding: $spacing-4;
  max-width: $container-width;
  margin: $spacing-5 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

strong {
  font-weight: 600;
}

a {
  color: $link-font-color;

  &:hover {
    text-decoration: underline;
  }
}

.pointer {
  cursor: pointer;
}
