body {
  font-family: $base-font-family;
  color: $font-color;
  font-size: $base-font-size;
  font-weight: 200;
}

.container {
  max-width: $container-width;
  margin: 5.5rem auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: 'Playfair Display', serif;
  margin-bottom: 0.2em;
  font-size: 1.2em;
}

strong {
  font-weight: 600;
}

a {
  color: $link-font-color;

  &:hover {
    text-decoration: underline;
  }
}

.pointer {
  cursor: pointer;
}

:focus {
  outline: 2px solid $accent-color;
  outline-offset: 5px;
  border-radius: 8px;
}
