$container-width: 1000px;
$base-font-size: 14px;
$base-spacing: 1rem;
$base-font-family: 'Rubik', sans-serif;

$spacing-1: $base-spacing * 0.25;
$spacing-2: $base-spacing * 0.5;
$spacing-3: $base-spacing;
$spacing-4: $base-spacing * 1.5;
$spacing-5: $base-spacing * 3;

$title-1-size: 2.5rem;
$title-2-size: 2rem;
$title-3-size: 1.5rem;
$title-4-size: 1.25rem;
$title-5-size: 1rem;

$background-color: rgb(60, 66, 65);
$font-color: rgb(76, 77, 79);
$light-font-color: rgb(235, 239, 240);
$link-font-color: rgb(76, 173, 193);
