.row {
  border: 1px dashed rgb(119, 206, 206);
  background: white;

  &.hidden {
    visibility: hidden;
    height: 0;
  }
}

.placeholder {
  align-self: center;
  justify-self: center;
}

.row-content {
  display: block;
  min-height: 360px;
}

.row-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px dashed rgb(119, 206, 206);
  margin-bottom: 16px;
  align-items: center;
}

.controls {
  display: flex;
  gap: 10px;
  font-size: 14px;
  align-items: center;
}

:global(.zoom_50) {
  .row-header {
    margin-bottom: 8px;
  }

  .row-content {
    min-height: 180px;
  }

  .controls {
    & > span {
      display: none;
    }
  }
}
