.container {
  width: 800px;
  padding: 0 80px 80px 80px;
  box-sizing: border-box;
  gap: 50px 5px;
  margin: 50px auto 0 auto;
}

.draggable_container {
  margin-bottom: 20px;
}

:global(.zoom_50) {
  .container {
    width: 500px;
  }
}
