.list {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: $spacing-3;

  li {
    display: flex;
    gap: $spacing-2;
  }
}

.count {
  margin-bottom: $spacing-3;
  padding: $spacing-1;
  background-color: $light-font-color;
  border-radius: 3px;
  display: inline-block;
}
