.list {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: $spacing-3;

  li {
    display: flex;
    gap: $spacing-2;
  }
}

.count {
  margin-bottom: $spacing-3;
  padding: 0.4rem 1rem 0.25rem 1rem;
  border-radius: 3px;
  display: inline-block;
  border: 1px solid;
}
