.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.leftPanel {
  grid-column: 1;
}

.rightPanel {
  grid-column-start: 2;

  ul {
    margin: 0;
  }

  li {
    display: flex;
    gap: 10px;
  }
}
