.list {
  margin-top: $spacing-5;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: $spacing-3 $spacing-4;
  padding: 0;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.title {
  font-size: 6rem;
  line-height: 0.8em;
  padding-right: 250px;
}
