.loading-bar {
  display: block;
  background: linear-gradient(120deg, rgb(193 238 242), $accent-color);
  background-size: 400% 400%;
  height: 0;
  transition: height 0.1s;

  -webkit-animation: AnimationName 1s ease infinite;
  animation: AnimationName 1s ease infinite;

  &.loading {
    height: $loading-bar-height;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
