.container {
  background-color: $background-color;
  height: 50px;
  align-content: center;
  position: relative;

  .title {
    color: $light-font-color;
    font-size: 1.5em;
    max-width: $container-width;
    padding: 0 $spacing-4;
    box-sizing: border-box;
    margin: auto;
  }
}

.loading {
  position: absolute;
  bottom: 0;
}
