.header {
  position: fixed;
  width: 100%;
  top: 0;

  .logo {
    max-width: 1000px;
    margin: 20px auto;
  }

  .title {
    color: $accent-color;
    font-size: 2em;
    box-sizing: border-box;
    line-height: 0.8;
    font-family: $base-font-family;
  }
}
