.container {
  background: $background-color;
  height: 50px;
  margin: 0;
  align-content: center;

  .title {
    color: $font-color;
    font-size: 20px;
    max-width: 1000px;
    margin: auto;
  }
}
