.episode-item {
  display: flex;
  gap: $spacing-2;

  :hover h2 {
    transition: color 0.1s ease-in-out;
    color: $accent-color;
  }

  img {
    width: 60px;
    height: 60px;
    border-radius: 4px;
    background-color: $light-font-color;
  }

  div {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex: 1;
    padding: $spacing-2;
    gap: $spacing-2;

    h2 {
      flex: 1;
      font-size: 1.4em;
      font-family: 'Hind';
      padding-right: 110px;
      line-height: 1.2;
    }

    *:last-child {
      flex-basis: 70px;
      text-align: right;
    }
  }
}
