.button {
  border: 1px solid black;
  background: white;
  font-size: 14px;
  padding: 10px 20px;
  line-height: 0.8em;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: -0.5px;
  display: flex;
  cursor: pointer;

  &:disabled {
    border: 1px solid lightgray;
    color: lightgray;
    pointer-events: none;
  }
}
