.title {
  max-width: 800px;
  font-size: 32px;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: -0.5px;
}

.paragraph {
  margin-top: 20px;
  font-size: 14px;
  max-width: 300px;
  font-weight: 200;
}
